<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Eng Alphonce</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="url_for('static' , filename =('css/styles.css')">
<!--     url_for('static', filename='style.css') -->
  </head>
  <body>
    <div class="container-fluid px-0">

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <span class="material-icons-outlined me-1">important_devices</span>
            Eng. Alphonce Augustine
          </a>
          <button 
            type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="container px-3">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item">
                  <a class="nav-link me-lg-3" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-lg-3" href="#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-lg-3" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-lg-3" href="#contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->

      <!-- Hero -->
      <header class="bg-light py-5">
        <div class="container px-5">
          <div class="row align-items-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
              <div class="my-5">
                <h2 class="text-center fw-bold mb-2">Hi! I am Alphonce,</h2>
                <h2 class="text-primary text-center fw-bold mb-2">an electronics engineer, Data science and full-stack web developer</h2>
                <p class="lead text-muted mb-4">
                  Results-oriented embedded engineer with a focus on the design and implementation of 
embedded systems with AI integration. 4+ years of experience in developing cutting edge engineering solutions with a wide range of control systems and IoT technologies. 
As a web developer also skilled in agile processes, backend and frontend development, 
and creating e-commerce websites that integrate with payment APIs. 
Business-minded data scientist with a demonstrated ability of delivering valuable 
insights via data analytics 
                </p>
                <div class="d-grid gap-3 d-sm-flex justify-content-center">
                  
                  <a class="btn btn-outline-primary btn-large text-uppercase" href="#projects">
                    View My Work
                    <span class="material-icons-outlined ms-2">manage_search</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-xxl-6 justify-content-center">
              <img class="img-fluid rounded-3 my-5" src="{{url_for('static',filename='images/hi.png')}}" alt="Hero Image">
            </div>
          </div>
        </div>
      </header>
      <!-- End Hero -->

      <main>

        <!-- About -->
        <section id="about" class="text-center py-5">
          <div class="container py-5">
            <div class="row justify-content-center">
              <h2 class="fw-bold">About</h2>
              <p class="lead text-muted mb-5">
               <p>Alphonce Augustine is a highly skilled and knowledgeable individual who has earned a bachelor's degree in computer engineering. He is a true expert in the fields of electronics, data science, and web development, but his true passion lies in electronics. Throughout his studies, Alphonce has demonstrated a strong aptitude for electronics, consistently displaying a deep understanding of the underlying principles and a talent for designing innovative and effective electronic systems. He has a proven track record of creating advanced electronic devices that have pushed the boundaries of what is possible in the field.
Beyond his technical expertise, Alphonce has a strong desire to share his knowledge and collaborate with others in the electronics community. He recognizes that electronics is a field that requires teamwork and a shared passion for innovation, and he actively seeks out opportunities to work with like-minded individuals. Despite his impressive achievements and extensive knowledge, Alphonce is always seeking to learn more and to take his electronics skills to the next level. He is eager to connect with others who share his passion for electronics and is open to collaborating on projects that push the limits of what is possible.</p>
<br>
<p>In summary, Alphonce Augustine is a highly skilled and passionate electronics expert who is committed to pushing the boundaries of what is possible in his field. He is dedicated to learning, growing, and collaborating with others to take electronics to new heights. If you are interested in electronics and want to help Alphonce take his skills further, he would be thrilled to hear from you.</p>
              </p>
            </div>
          </div>
          <div class="container mb-5">
            
  <div class=row>
    <div style = 'width: 25% '>
      <p> <strong>Robotics and IoT</strong></p>
    </div>
    <div style='width:75%'class="progress" role="progress-bar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar" style="width: 95%">95%</div>
</div>
  </div>
        <div class=row>
    <div style = 'width: 25% '>
      <p><strong>Data Science</strong></p>
    </div>
    <div style='width:75%'class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar" style="width: 85%">85%</div>
</div>
  </div>
             <div class=row>
    <div style = 'width: 25% '>
      <p> <strong>Web Development</strong></p>
    </div>
    <div style='width:75%'class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar" style="width: 70%">70%</div>
</div>
  </div>
             <div class=row>
    <div style = 'width: 25% '>
      <p> <strong>Computer maintenance and repair</strong></p>
    </div>
    <div style='width:75%'class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar" style="width: 95%">95%</div>
</div>
  </div>
          </div>
        </section>
        <!-- End About -->

        <hr>

        <!-- Projects -->
        <section id="projects" class="text-center py-5">
          <div class="container py-5">
            <div class="row justify-content-center">
              <h2 class="fw-bold">Projects</h2>
              <p class="lead text-muted mb-5">
               Thank you for taking the time to explore my projects! I appreciate your interest and hope that you find them informative and engaging.

I welcome any feedback or questions you may have regarding my work. If you have any comments, suggestions, or would like to discuss any of the projects further, please do not hesitate to contact me. I am always happy to connect with like-minded individuals and exchange ideas.

You can reach me via email or through my website. I look forward to hearing from you soon and thank you again for your interest in my projects.
              </p>
            </div>
          </div>
          <div class="container mb-5">
            <div class="row">
              <div class="col-lg-6 mx-auto mb-5">
                <div class="card" >
  <img src="{{url_for('static', filename='images/elephant.JPG')}}" class="card-img-top" alt="Elephant picture">
  <div class="card-body">
    <h5 class="card-title">Game reserve spy camera</h5>
    <p class="card-text">The increasing cases of human-elephant conflicts have become a major concern in many 
parts of the world, particularly in areas where human populations are expanding into 
elephant habitats. One effective way to address this problem is to use spy cameras to 
detect elephant attacks. Spy cameras can provide valuable information about elephant 
behavior and movements, allowing for early warning and proactive measures to be 
taken to prevent human-elephant conflicts. 
</p>
    <a href="https://wa.me/+255759331878" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Contact me</a>
  </div>
</div>
              </div>
                <div class="col-lg-6 mx-auto mb-5">
                <div class="card" >
  <img src="{{url_for('static', filename='images/deforestation.jpg')}}" class="card-img-top" alt="Deforestation picture">
  <div class="card-body">
    <h5 class="card-title">Illegal Deforestation Detection</h5>
    <p class="card-text">Deforestation is a major environmental concern that leads to the loss of forests and wildlife habitats, soil erosion, and climate change. Illegal deforestation, in particular, is a major problem that occurs when individuals or companies cut down trees without proper permits or authorization. This project aims to develop a system that can detect illegal deforestation using chainsaw sound detection using machine learning algorithms.
</p>
     <a href="https://wa.me/+255759331878" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Contact me</a>
  </div>
</div>
              </div>
            </div>
             <div class="row">
              <div class="col-lg-6 mx-auto mb-5">
                <div class="card" >
  <img src="{{url_for('static', filename='images/smart.jpg')}}" class="card-img-top" alt="Smart Home">
  <div class="card-body">
    <h5 class="card-title">Smart Homes</h5>
    <p class="card-text">In recent years, technology has advanced to the point where it has become possible to have a fully automated home that can be controlled with the touch of a button or a voice command. This concept, known as a smart home, is becoming increasingly popular among homeowners who are looking to enhance their daily living experience with the latest technology. A smart home is a house that is equipped with electronic devices that can be remotely controlled through the internet. The devices in a smart home can include lighting, heating, air conditioning, security, entertainment, and more. 
</p>
    <a href="https://wa.me/+255759331878" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Contact me</a>
  </div>
</div>
              </div>
                <div class="col-lg-6 mx-auto mb-5">
                <div class="card" >
  <img src="{{url_for('static', filename='images/ecommerce.jpg')}}" class="card-img-top" alt="Store">
  <div class="card-body">
    <h5 class="card-title">E-Commerce website</h5>
    <p class="card-text">E-commerce, or electronic commerce, has become increasingly popular over the past few years, with more and more businesses moving their operations online. E-commerce refers to the buying and selling of products and services over the internet, rather than in physical stores. There are several reasons why e-commerce has become so popular.

Convenience is one of the primary reasons for the rise of e-commerce. Consumers can shop for products from the comfort of their own homes, without the need to travel to physical stores. This is particularly appealing for people who live in rural areas, or for those who have busy schedules and find it difficult to make time for shopping. Additionally, e-commerce allows people to shop outside of traditional store hours, since online stores are always open.
</p>
  <p> This project is still underdevelopment</p>
     <a href="https://wa.me/+255759331878" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Contact Me </a>
  </div>
</div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Projects -->

        <hr>


        <!-- Contact -->
        <section id="contact" class="text-center py-5">
          <div class="container py-5">
            <div class="row justify-content-center">
              <h2 class="fw-bold">Contact</h2>
              <p class="lead text-muted mb-5">
                 I would love to hear from you.
              </p>
            </div>
          </div>
          <div class="container mb-5">
            <div class="row">
              <div class='col-4'>
                <div id="map"></div>
              </div>
              <div class="col-4">
                <div class="mb-5">
                  <h6 class="text-uppercase mb-2">Address</h6>
                  <p class="lead mb-0">12 Butiama, Bariadi Simiyu 39104</p>
                </div>
                <div class="mb-5">
                  <h6 class="text-uppercase mb-2">Phone</h6>
                  <p class="lead mb-0">+255759331878</p>
                </div>
                <div class="mb-5">
                  <h6 class="text-uppercase mb-2">Email</h6>
                  <p class="lead mb-0">alphonceagustin@gmail.com</p>
                </div>
              </div>
              <div class="col-4">
                <div id="map"></div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Contact -->
      </main>
    </div>

    <hr>
    
    <!-- Footer -->
    <footer class="text-center py-4">
      <div class="container px-5 mb-2">
        Copyright &copy; 2023 Alphonce Augustine.
      </div>
    </footer>
    <!-- End Footer -->

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JS -->
    <script src="js/scripts.js"></script>
  </body>
</html>